<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="app"></div>
        {% endblock %}
        {% block javascripts %}
          {#<script src="https://cdn.jsdelivr.net/npm/vue"></script>#}
          <script src="{{ asset('build/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
